@font-face {
	font-family: "Anton";
	font-display: swap;
	src: url("./Anton/Anton-Regular.ttf");
}

@font-face {
	font-family: "Roboto";
	font-display: swap;
	font-style: normal;
	font-weight: 400;
	src: url("./Roboto/Roboto-Light.ttf");
}
@font-face {
	font-family: "Roboto";
	font-display: swap;
	font-style: normal;
	font-weight: 300;
	src: url("./Roboto/Roboto-Light.ttf");
}
@font-face {
	font-family: "Roboto";
	font-display: swap;
	font-style: normal;
	font-weight: 200;
	src: url("./Roboto/Roboto-Light.ttf");
}
@font-face {
	font-family: "Roboto";
	font-display: swap;
	font-style: normal;
	font-weight: 100;
	src: url("./Roboto/Roboto-Thin.ttf");
}
@font-face {
	font-family: "Roboto";
	font-display: swap;
	font-style: normal;
	font-weight: 600;
	src: url("./Roboto/Roboto-Black.ttf");
}
.md-tabs__link--active {
	font-weight: 600;
}
.md-header {
	background-color:#333333;
	}
.md-tabs {
	background-color:#333333;
}
@media screen and (max-width: 76.1875em) {
	.md-nav--primary .md-nav__title[for=__drawer] {
		background-color: #333333 !important;
	}
	.md-nav--primary .md-nav__title {
		background-color: #333333 !important;
		color:#fff !important;
	}
}
@media screen and (max-width: 59.9375em) {
	.md-nav__source {
		background-color: #333333 !important;
	}
}
.md-typeset table:not([class]) th {
	background-color:#3a3c43 !important;
}
body {
	font-family: "Roboto",sans-serif;
	font-weight: 300;
	font-size: .9rem;
	line-height: 2rem !important;
	color: #333;
	background: #fefefe;
}
h1 {
	font-family: "Anton" !important;
	font-weight: 400;
	color: #333 !important;
	font-size: 2.4rem !important;
	margin-bottom: 20px !important;
	border-bottom: 1px solid #eee;
}
h2 {
	font-family: "Anton" !important;
	font-size: 1.6rem !important;
	margin-top:2rem !important;

	border-bottom: 1px solid #eee;
}
h3 {
	font-family: "Anton" !important;
	font-size: 1.4rem !important;

	border-bottom: 1px solid #eee;
}
h4 {
	font-family: "Anton" !important;
	font-size: 1.2rem !important;
	font-weight: 400 !important;
}
p {
	font-size: .75rem !important;
}
.md-content__inner p {
	line-height: 1.4rem;
}
h1.md-search-result__title,
h2.md-search-result__title {
	font-family: "Roboto",sans-serif !important;;
	font-size:1.2rem !important;
	margin-bottom: 5px !important;
}
.md-search-result__article h1.md-search-result__title{
	font-family: "Roboto",sans-serif !important;;
	font-size:.8rem !important;
	margin-bottom: 1px !important;
}
.md-search-result__teaser {
	font-family: "Roboto",sans-serif !important;;
	font-size: 14px !important;
}
.md-nav__link {
	font-size: 16px !important;
}

.md-content__inner img {
	box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,.05), 0 0 0.05rem rgba(0,0,0,.1);
}
.md-grid {
    max-width: 68rem;
}
.md-content {
   padding-bottom: 200px;
}

.md-nav__title {
	font-size: 1rem;
	padding: 10px;
	color: #2e313d;
	padding-bottom: 5px;
	margin-bottom: 20px;
}
.md-typeset blockquote {
	padding:10px;
	padding-right:20px;
	padding-left: .6rem;
	border-left: 10px solid #2e313d !important;
	background:#efefef;
	color:#000;
	font-size: .9rem;
	font-weight: 400;
	margin-bottom: 30px;
	border-right: 3px solid #ccc !important;
}
.md-typeset a {
	color: #3c487c;
	word-break: break-word;
	text-decoration: underline;
}
.md-typeset blockquote a {
	color: #3c487c;
	word-break: break-word;
	text-decoration: none;
}
@media screen and (max-width: 1024px) {
	.md-content__inner p {
		font-size: .78rem !important;
	}
	.md-nav__source {
		display:none;
	}
}
.md-typeset pre>code {
	background-color: #181818 !important;
	color:#efefef;
}

